<h3> Single Apartment's information </h3>

<label>Address:</label>
<h4> <%= @apartment.address %> </h4>

<label> Tenants: </label>
 <br/>
<% @apartment.tenants.each do |tenant| %>
    <a href="/tenants/<%= tenant.id %>">
        <%= tenant.name %> 
    </a>
    <br/>
<% end %>

 <br/>

<form method="get" action="/apartments/<%= @apartment.id%>/edit">
    <button type="submit">Edit Apartment</button>
</form>

<form method="get" action="/apartments">
    <button type="submit">All Apartments</button>
</form>

<form action="/apartments/<%= @apartment.id %>" method="post">
<input type="hidden" name="_method" value="delete">

<input type="submit" value="Delete Apartment"/>
</form>